/readme2.md
target
.idea
.g8
.idea_modules
.classpath
.project
.settings
/nginx/logs/*
!/nginx/logs/.gitkeep
/gatling/results/*
!/gatling/results/.gitkeep
/secret
/finagle
/play-quickstart/app/controllers/TestController.scala
/play-quickstart/lib/*
!/play-quickstart/lib/.gitkeep
/finagle-quickstart/lib/*
!/finagle-quickstart/lib/.gitkeep
/akka-http-quickstart/lib/*
!/akka-http-quickstart/lib/.gitkeep
/logs/*
!/logs/.gitkeep
/docker/.env
/docker/k8s/.env.sh
/docker/k8s/tmp

