<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>


    <appender name="FILE-HEAP" class="ch.qos.logback.core.FileAppender">
        <file>${application.home:-.}/logs/system.mon.jvm-heap.log</file>
        <encoder>
            <pattern>%date[HEAP]%message%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE-THREAD" class="ch.qos.logback.core.FileAppender">
        <file>${application.home:-.}/logs/system.mon.jvm-thread.log</file>
        <encoder>
            <pattern>%date[THREAD]%message%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE-NGINX" class="ch.qos.logback.core.FileAppender">
        <file>${application.home:-.}/logs/system.mon.nginx.log</file>
        <encoder>
            <pattern>%date[THREAD]%message%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>


    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
    </appender>

    <logger name="mygatling.monitor.SystemMonitor.NGINX" level="INFO" additivity="false">
        <appender-ref ref="FILE-NGINX" />
    </logger>
    <logger name="mygatling.monitor.SystemMonitor.THREAD" level="INFO" additivity="false">
        <appender-ref ref="FILE-THREAD" />
    </logger>
    <logger name="mygatling.monitor.SystemMonitor.HEAP" level="INFO" additivity="false">
        <appender-ref ref="FILE-HEAP" />
    </logger>

    <root level="WARN">
        <!--<appender-ref ref="ASYNCFILE" />-->
        <appender-ref ref="ASYNCSTDOUT" />
    </root>

</configuration>
